@{
    ViewBag.Title = "Restauracja Web APP";
}

@model RestauracjaWebAPP.Models.Room

<h1>Obsługa zamówień</h1>
<h2>Wybierz stolik</h2>
<select id="tableSelect" onchange="loadTable()">
    @foreach (var table in Model.Tables)
    {
        if (ViewBag.Table == table.Id)
        {
            <option value="@table.Id" selected="selected">@table.Name</option>
        }
        else
        {
            <option value="@table.Id">@table.Name</option>
        }

    }
</select> 

<div id="tableContainer">
    @{ 
        int id = ViewBag.Table;
        Html.RenderPartial("_TableView", Model.Tables[id]);
    }
</div>


<script type="text/javascript">

    function loadTable () {
        var selectedElement = $("#tableSelect").children("option:selected").val();
        $("#tableContainer").html("");
        $("#tableContainer").load("/Home/UpdateTable/" + selectedElement);
        window.requestAnimationFrame(ready);
    };

    var ready = function () {
        var dishes = $("#dishes");
        if (dishes) {
            getDishes();
            if (dishes.children().length != 0)
                return;
        };

        window.requestAnimationFrame(ready);
    };

    window.onload = function () {
        getDishes();
    };

</script>