@{
    ViewBag.Title = "Restauracja Web APP";
}

@model RestauracjaWebAPP.Models.Room

<h1>Obsługa zamówień</h1>
<h2>Wybierz stolik</h2>
<select id="tableSelect" onchange="loadTable()" >
    @foreach (var table in Model.Tables)
    {
        <option value="@table.Id">@table.Name</option>
    }
</select> 

<div id="tableContainer">
    @{Html.RenderPartial("_TableView", Model.Tables[0]);}
</div>


<script type="text/javascript">

    async function loadTable () {
        var selectedElement = $("#tableSelect").children("option:selected").val();
        $("#tableContainer").load("/Home/UpdateTable/" + selectedElement);
        await sleep(20);
        getDishes();
    };

    window.onload = function () {
        getDishes();
    };

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

</script>