body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid #00000075;
}

td {
    padding: 10px;
    text-align: center;
}

.boldText{
    font-weight: bold;
}

select {
    width: 250px;
    height: 30px;
    font-size: 16px;
}

.tableInput {
    resize: none;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
}

.removeButton {
    background: #970000;
    color: #e8e8e8;
    border: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.confirmButton{
    background: #018000;
    color: #e8e8e8;
    border: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.disabledButton {
    background: #808080;
    color: #242424;
    border: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}